# Carpeta de módulos de Node.js
node_modules/

# Archivos de entorno
.env
.env.local
.env.development
.env.production
.env.test

# Logs y archivos temporales
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Archivos del editor
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bak
*.tmp
*.orig

# Carpetas de compilación
build/
dist/
coverage/
test-results/

db/
s.txt